section>div{
                height:506px;
                background: rgba(255,255,255,0.5);
                position: absolute;
                top:100px;
                right:13%;
                padding: 20px 30px;
            }
h6{
    padding: 10px 0;
    font-size: 14px;
        a{
            color:#fea417;
            text-decoration: underline;
            font-size:inherit ;
        }
        a:first-child{
            padding-right:110px ;
            }
        }
form .text {
    display: block;
    margin-bottom: 30px;
    border: 1px solid #c5c8c6;
    height: 40px;
    line-height: 40px;
    padding-left: 5px;
    position: relative;
    width: 280px;
}  
.input-icon{
    display: inline-block;
    margin-top: 8px;
    float: left;
    width: 22px;
    height: 22px;
    background:url(../../img/login/index-bg.png) -62px 0 no-repeat;
    vertical-align: middle;
    padding-left:10px ;
}
.input-icon2{
 background:url(../../img/login/index-bg.png) -62px -45px no-repeat;
}
#emailphone,#password,#seccode{
    border: none;
    float: left;
    height: 38px;
    line-height: 38px;
    padding-left: 10px;
    width: 85%;
    vertical-align: middle;
    background: none;
    font-size: 15px;
    outline: none;
}
label.text input.ver-code {
    width: 52%;
    vertical-align: top;
}
#verification{
      float: right;
        width:50px;
        display: inline-block ;
        background: #1B6D85;
        color: white;
        text-align: center;
        line-height: 30px;
        margin-top:5px ;
} 
.fl, .tab .h li {
    float: left;
    display: inline;
}
.fr {
    float: right;
    display: inline;
}
.login_btn {
    display: block;
    border-radius: 5px;
    background: #d10048;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding: 8px;
    margin: 20px 0;
}
.error_ui {
    border-color: #e24a4a;
    box-shadow: 0 0 4px 1px rgba(228, 36, 36, 0.1);
    }
